body {
  background-color: #282c34;
}

.game {
  text-align: center;
}
#youWin,
#youLose,
#timer,
#gameHead {
  height: 22vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#youWin,
#youLose {
  font-size: 7vh;
}
#timer {
  font-size: 18vh;
}

#playDiv {
  height: 10vh;
  text-align: center;
  position: fixed;
  bottom: 15vh;
  left: 38.5vw;
  z-index: 1000;
}

.playBtn {
  height: 10vh;
  width: 23vw;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 50%;
  background-color: whitesmoke;
  color: #282c34;
  margin: 0 2vw 2vh;
}
